.technicians {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.technicians-table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
  }

  .technicians-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 33.33%; /* Each column takes up 33.33% of the table width */
  }
